.zsfootball-round {
	caption {
		span {
			padding-right: 10px;
		}
		font-weight: bold;
		font-size: 14px;
	}
	.zsfootball-match-row {
		.away-club {
			font-weight: bold;
			text-align: left;
			width: 30%;
		}
		.home-club {
			font-weight: bold;
			text-align: right;
			width: 30%;
		}
		.result {
			font-weight: inherit;
			text-align: center;
			width: 10%;
		}
		.match-date {
			text-align: left;
			width: 15%;

		}
		.location {
			text-align: right;
			width: 15%;
		}
	}

	table.zsfootball-match {
		background-color: inherit;
		margin-bottom:0px;
		width: 100% !important;
	}

	table.zsfootball-match.selected {
		background-color: inherit;
		
		.zsfootball-match-details {
			height: 100px;

			table {
				width: 100% !important;

				tr {
					text-align: center;
				}
			}
		}
	}
}
