.zsfootball-round {
	caption {
		font-weight: bold;
		font-size: 14px;
	}
	.zsfootball-match {
		.away-club {
			font-weight: bold;
			text-align: left;
			width: 40%;
		}
		.home-club {
			font-weight: bold;
			text-align: right;
			width:40%;
		}
		.result {
			font-weight: inherit;
			text-align: center;
			width: 10%;
		}
		match-date {
			width: 10%;
		}
	}
}
